@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
}
input {
 border-width: 1px important;
}
input[type="date"]{
  border-width: 1px !important;
}
/* .linksSettings{
  @apply text-white lg:text-gray-600 lg:group-hover/settingsAcc:hover:bg-gray-400 p-2 ease-in duration-100
} */
@media screen and (min-width:992px){
  .bloc-settings{
    display: none;
  }
  .isSlideSettings{
    display: block;
  }
  .div-account.isSlideSettings{
  display: block;
 }
}
li{
  list-style: none;
}
.form-input,.form-textarea,.form-select,.form-multiselect{
  appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem/* 8px */;
    padding-right: 0.75rem/* 12px */;
    padding-bottom: 0.5rem/* 8px */;
    padding-left: 0.75rem/* 12px */;
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    --tw-shadow: 0 0 #0000;
}
